body{
    margin: 0;
    padding: 0;
    background-image: url("congruent_pentagon.png");
    font-family: "Trebuchet MS", helvetica, sans-serif
}

*{
  box-sizing: border-box;
}

.button-container{
  width: 60vw;
  display: table-cell;
  vertical-align: middle;
}

.button{
    padding: 1vw 1vw 1vw 2vw;
    width: 100%;
    display: block;
    height: 8vw;
    margin: 1vw;
    background-color: #0066FF;
    text-decoration: none;
    color: white;
}

.button:hover{
  background-color: turquoise;
}

.res-header{
  margin: 1vw;
}
.res-content{
  margin-left: 3vw;
}
div.banner{
      background-color: #0066FF;
      margin: 0;
      opacity: 0.6;
      padding: 20px;
}

.clear {
  clear: both;
}

.banner h1{
    float: left;
    margin-left: 2%;
    color: white;
    opacity: 100%;
    text-align: left;
}

.grid-container{
  display: table-row;
  /*background-color: azure;*/
  padding: 4em 5% 4em 5%;
  width: 100%;
  margin: auto;
}

.image{
  display: table-cell;
  width: 30vw;
  height: 30vw;
}

.banner h2{
  float: right;
  color: white;
}

span{
  font-weight: bold;
}

a.footer:link{
  color: white;
  text-decoration: underline;
  text-align: right;
}

a.footer:visited{
  color: grey;
  text-decoration: underline;
  text-align: right;
}
