body{
    background-image: url("congruent_pentagon.png");
}
h1{
    color: white;
    text-align: center;
    font-family: "Trebuchet MS";
}

img.portrait{
  display: block;
  margin: auto;
  width: 350px;
  height: 350px;
  border-size: 40px;
  border-style: ridge;
  border-color: blue;
}

div.footer{
  text-align: center;
  color: white;
  font-family: "Trebuchet MS";
}

a.footer:link{
  color: white;
  font-family: "Trebuchet MS";
  text-decoration: underline;
}

a.footer:visited{
  color: grey;
  font-family: "Trebuchet MS";
  text-decoration: underline;
}
