body{
    margin: 0;
    padding: 0;
    background-image: url("congruent_pentagon.png");
}

*{
  box-sizing: border-box;
}

.button-container{
  width: 40vw;
  display: table-cell;
  vertical-align: middle;
}

.button{
    padding: 1vw 1vw 1vw 2vw; 
    width: 100%;
    display: block;
    height: 8vw;
    background-color: #0FF0F5;
}

div.banner{
      background-color: #0066FF;
      margin: 0;
      opacity: 0.6;
      padding: 20px;
}

.clear {
  clear: both;
}

.banner h1{
    float: left;
    margin-left: 2%;
    color: white;
    opacity: 100%;
    text-align: left;
    font-family: "Trebuchet MS";
}

.img-container{
  display: table-row;
  /*background-color: azure;*/
  padding: 4em 5% 4em 5%;
  width: 100%;
}

.image{
  display: table-cell;
  width: 30vw;
  height: 30vw;
}

.banner h2{
  float: right;
  color: white;
  font-family: "Trebuchet MS";
}

a.footer:link{
  color: white;
  font-family: "Trebuchet MS";
  text-decoration: underline;
  text-align: right;
}

a.footer:visited{
  color: grey;
  font-family: "Trebuchet MS";
  text-decoration: underline;
  text-align: right;
}
